//page colours

$background-01: rgba(190, 218, 245, 1) 0%;
$background-02: rgba(67, 206, 162, 1) 42%;

$fontColorLight: #b0b3b8;
$fontColorDark: #626569;

//page fonts
$fontFamily: "Inter, sans-serif";
