@import "../assets/utilities/functions.scss";
@import "../assets/utilities/variables";

.splash {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, $background-01, $background-02);
  display: flex;
  justify-content: center;
  align-items: center;
}
